*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.nav{
    background-color:  #333;
    color: white;
    padding: 16px;
    width: 100%;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    display: flex;
    gap: 70px;
}
.nav-title a{
    color: white;
    text-decoration: none;
}
.sign-out-button{
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 20px;
    padding: 9px 16px;
}

.main{
    display: flex;
    width: 1000px;
    height: 900px;
    margin-top: 50px;
    gap: 30px;
}
.profile-card{
    height: 290px;
    width: 570px;
    background-color: aliceblue;
    border-radius: 8px;
    border: 3px solid #ccc;
}
.profile-picture{
    
    height: 90px;
    background-color: #20a1b2;
    position: relative;
    border-radius: 8px;
}
.profile-picture img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 30px;
    bottom: -40px;
    border-radius: 50%;
}
.profile-card h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 27px;
}
.bio{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 27px;
}
.edit-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 27px;
}
img{
    width: 40px;
    height: 40px
}
.education{
    border: 3px solid #ccc;
    margin-top: 30px;
    height: 200px;
    width: 570px;
}
.education h3{
    background-color: #333;
    color: white;
    padding: 16px;
    border-radius: 4px 6px;
}
.education-content{
    padding: 30px;
}
.connection-card{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 3px solid #ccc;
}
.connection-card h3{
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0 ;
}
.connection-card h3 span{
    background-color: #666666;
    border-radius: 50%;
    padding: 2px 8px;
    margin-right: 8px;
}
.connection-list{
    padding: 20px;
}
.user-info1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}
.user-info2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}
.user-info1 img{
    width: 30px;
    height: 30px;
}
.user-info2 img{
    width: 30px;
    height: 30px;
}
.user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.connection-info{
    display: flex;
    margin: 28px;
    align-items: center;
    gap: 10px;
}